/* Bashar */

/* Mochi */
*, html {
  padding:0;
  border: 0; 
  margin: 0;
}
/* Kimberly */

/* Lukas */

/* Rohini */
.rohini {
  background-color: blue;
}
/* Nories */

/* Catia */

/* Gerrett */

/* Sully */

/* Eudes */

/* Priyanka */
.priyanka {
  background-color: aquamarine;
}
