/* Bashar */

/* Mochi */
*,
html {
    padding: 0;
    border: 0;
    margin: 0;
}
/* Kimberly */

/* Lukas */

/* Rohini */

/* Nories */

/* Catia */

/* Gerrett */
.garrett {
    background-color: darkred;
}
/* Sully */

/* Eudes */

/* Priyanka */
.priyanka {
    background-color: aquamarine;
}
